[2020-01-11 10:28] luc-github opened #1 "TODO list"
Short term:
* Import embedded page code (🆗)
* Add documentation / populate wiki (🆗 )
* Add issue templates, labels list, stale configuration (🆗 )

Mid term:
* Fix issues with current code:
    - Use  WIFI_SSID and WIFI_PWD from Marlin (🆗 )
    - allow to configure all ESP3D settings from Configuration_adv.h (🆗 )
    - TBD
* Import ESP3D v2.1 features (TBD)
* move to ESP3D v3.X (TBD)

[2020-01-13 08:56] luc-github opened #2 "Enable / disable ESP3DLib features features from Configuration_adv.h"
current advanced configuration ESP3DLib is here  of https://github.com/luc-github/ESP3DLib/blob/master/README.md#how-to-enable-

But it will be easier for user to configure from  Configuration_adv.h, by adding some define to enable/disable feature.
It is not hard to do - it will be enabled soon

[2020-01-14 09:13] luc-github opened #3 "[BUG]Upload notification only work on USB"
When success or failure, any upload : SPIFFS, update, SD , will get notification on USB and not on WebUI

* Web UI get proper message (can see it in query) but does not handle it properly, because  still display "upload XXXX"
* Notification of ESP3DLib 1.0 use query feedback unlike other ESP3D porting which use websocket for error and also allow to cancel ongoing upload properly

[2020-01-15 10:07] luc-github commented on #2
done

[2020-01-15 10:07] #2 closed

[2020-01-15 10:42] luc-github opened #4 "ESP3DLib Feedback"
To link with https://github.com/luc-github/Marlin/issues/1
which will be locked soon

[2020-01-15 14:20] felixstorm commented on #4
@vivian-ng just fyi: I also had layer shifts a few days ago when I tried out a very recent Marlin build (https://github.com/MarlinFirmware/Marlin/commit/89ccd463d79007f5b1f15d4ffa8df913ae3a3373 from `bugfix-2.0.x`) and I had not changed anything on the hardware side. So there might really be some issue in the firmware or - another possibility - both our configs might just not be compatible with th

[2020-01-16 01:50] vivian-ng commented on #4
[PR#16581](https://github.com/MarlinFirmware/Marlin/pull/16581) sent to add sanity check that throws an error when TMC SPI drivers are in use with MONITOR_DRIVER_STATUS and SDSUPPORT both enabled. The user will then need to decide which to disable (most probably MONITOR_DRIVER_STATUS since SDSUPPORT is essential for sending files for print via the webUI).

Other boards which also share SPI between

[2020-01-17 08:56] luc-github commented on #3
Fixed in devt branch

[2020-01-17 09:00] luc-github commented on #4
the Development branch has now several fixes :
[code]
To use development version just add `#devt` at the end of ESP3DLib git address in your platformio.ini

`ESP3DLib=https://github.com/luc-github/ESP3DLib.git#devt`

today versions : UI: 2.1b56 / FW: bugfix-2.0.x / ESP3DLib: 1.0.3

[2020-01-17 13:53] felixstorm commented on #4
@vivian-ng It looks like I was able to avoid layer shifts by switching back to `CLASSIC_JERK` (https://github.com/felixstorm/Marlin/commit/fd50a136c539a2d9ec3c55e3682a3d940676aa9a). It looks like there are currently some issues in the interaction of Cura (I am still using 3.6), Ender 3 and Junction Deviation (new Marlin default), see e.g. https://github.com/MarlinFirmware/Marlin/issues/12403#issue

[2020-01-17 14:06] vivian-ng commented on #4
@felixstorm I have already gone back to classic jerk. But I will do a few more tests. Was using Cura 4.3 and it had been fine.
Also, for your Ender-3, how hot does the X and Y motors get? I am seeing them go up to around 45 degC when printing (with TMC2130 steppers set at 750mA).

@luc-github I have compiled with the devt branch, seems to be working. Will test more over the next few days.

[2020-01-17 14:40] felixstorm commented on #4
@vivian-ng Good to hear that layer shifts seem to be solved for you. I never really checked the temperature of the motors - I basically adjusted Vref on the TMC2208 drivers to match the currents somebody had published to be the correct ones for the Ender 3 it seems to be ok for the last few months. Also I do not really have a good way to measure the temperature on the motors, but I can just try to

[2020-01-17 14:44] felixstorm commented on #4
@luc-github Sorry for the confusion: I just noticed that the reboot on refreshing the SD card only happens directly after power - any refresh thereafter seems to work fine. I am out of time now, but will do a few more tests on this and let you know the results...

[2020-01-17 15:42] luc-github commented on #4
@felixstorm I never got a restart after refreshing, it is true first listing is longer due to SDcard free space calculation.
if you got a stack decoded please share may need to add some WDT feed
Also one issue I have noticed in marlin, put one SD card of 2GB, do listing, then insert another SD of 16GB, do listing the capacity is still displayed as 2GB because of cache, this is something I must fix

[2020-01-17 15:55] luc-github commented on #4
About Wifi credential in configuration file it is ignored if you do not use them and also they are also ignored if they are stored in preferences NVS

[2020-01-18 09:00] luc-github opened #5 "[FEATURE REQUEST]Send notification to lcd (if any)"
All notifications are sent to WEBUI or Serial
IP should be displayed in lcd if any in status line, same for update of firmware progression

[2020-01-18 09:03] luc-github commented on #4
I just received my new Creality LCD for the ESPE, I will work on adding support of notifications in lcd (https://github.com/luc-github/ESP3DLib/issues/5)  when back home next month

[2020-01-23 11:13] luc-github commented on #5
fixed  in Devt and master - but need also a PR in Marlin mostly for first boot to display IP after Marlin started

[2020-01-23 11:13] #5 closed

[2020-01-23 11:13] luc-github commented on #3
In master now

[2020-01-23 11:13] #3 closed

[2020-01-23 11:21] luc-github commented on #4
Actually I was able to use an esp32 + oled screen to set the lcd output - I did a PR to Marlin to add missing entry point to display properly IP at start on lcd https://github.com/MarlinFirmware/Marlin/pull/16658
as esplib is actually starting faster than Marlin in some case the IP was not displayed

[2020-01-24 16:13] felixstorm opened #7 "[BUG] Marlin Reboot on (First) SD Access"
**Description**
When accessing the SD card (i.e. refresh, create folder etc.) through the web UI for the first time after Marlin starts, Marlin's task watchdog triggers and causes a reboot.

**To Reproduce**
1. Power up (or hard reset) printer *with SD card inserted*
2. Open web UI (e.g. `http://marlinesp.local/`)
3. In the SD Files panel, click on "Refresh" or create a new folder
4. See Marlin re

[2020-01-24 16:35] felixstorm commented on #7
More info: I just now did have more reboots when uploading a file to the SD card (although refresh, create folder etc. had already worked without issues in the same session). After commenting out the part that checks the free space in `Web_Server::SDFile_direct_upload` (`src/web_server.cpp` lines 1438-1448) uploading did work fine, so it seems to be connected with `ESP_SD::card_used_space`.

The S

[2020-01-25 00:40] luc-github commented on #7
Marlin SD lib is limited and the `ESP_SD::card_used_space` and `ESP_SD::card_total_space`  code is not used in normal Marlin usage, I am thinking to try move to ESP32 SD Lib or even better SDFat for this and a proper support of long name.
That said I do not reproduce it I only have 2GB/4GB/16G and this will follow SD response time I think

@felixstorm How did you formated your SD ? Do you use http

[2020-01-25 09:24] felixstorm commented on #7
I did format the cards from Windows with a default cluster size, I had not tried a different formatter yet.

And I hadn't even thought of just returning a fixed value yet, but always returning 0 from `ESP_SD::card_used_space()` does indeed work very well for me - no issues anymore during any SD card operation (refresh, up- and download of a 10 MB file etc.).
Support for long file names seems like

[2020-01-25 10:01] luc-github commented on #7
Please do not use windows for SD card, better use link I gave
ok so I will disable theses functions until proper fix is implemented.
About SD card speed 1 Marlin SD is not really optimised, also webserver is not best currently to upload, I did not test dowload performance to be honest.
Here some bench I did on ESP3D 3.0 and SD lib https://github.com/luc-github/ESP3D/issues/383#issuecomment-5486959

[2020-01-25 13:38] luc-github commented on #7
I just bought a new 16GB / 32GB/ 64GB SD cards today - will try to do some tests during my vacations free  time

[2020-01-27 04:13] vivian-ng opened #8 "[Question] Using additional hardware serial for ESP32 in Marlin"
This is not totally related to ESP3DLib.
It is actually a question more about the ESP32 HAL in Marlin. I wonder if it is possible to use the other hardware serial ports in the ESP32. Right now, I am using GPIO1 and GPIO3 (I think it is hardware serial0) for the CH340 USB-to-UART connection. The ESP32 still has Serial1 and Serial2 ununsed.

1. Does ESP3DLib use any of the hardware serial ports for

[2020-01-27 05:37] luc-github commented on #8
Hi ESP3Lib does not use any pin for serial2ocket, serial2socket is a virtual serial as Marlin allows only 2 serial output,

yes definitly any pin can be used for serial on esp32, but I think total hardware serial number is limited to 3(tbc)
also software serial is not recommended due to lack of reliability, see dev status: https://github.com/espressif/arduino-esp32/issues/3484#issuecomment-5569886

[2020-01-27 07:03] vivian-ng opened #9 "[BUG] Cannot find U8glib.h when compiling in PlatformIO/VSCode"
I received errors:
[code]
It seems that using
[code]
doesn't allow the eventual `u8g_fontutf8.h` to properly include `#include <U8glib.h>`.

I had to add
[code]
to `espcom.cpp` in order to get it to compile.

Files further downstream being included using
[code]
seems to work fine when using the `MARLIN_PATH()` macro, but files further downstream being included using
[code]
seems to be causing issu

[2020-01-27 07:07] luc-github commented on #9
I will check tonight, path syntax may change if file is  from Marlin or external library

[2020-01-27 08:42] luc-github commented on #9
I reproduced it using CR10 display and MRR_ESPE, I have only tested with MRR_ESPA and oled and without LCD.

Working on it now

[2020-01-27 09:03] luc-github commented on #9
@vivian-ng
can you try to add
[code]
in espcom.cpp like this

Compilation is ok on my side - but I do not have the hardware in hand to check is fine

[code]

[2020-01-27 09:51] luc-github commented on #8
@vivian-ng
are you sure about your GPIO number ?
there is not GPIO20 I think : https://randomnerdtutorials.com/esp32-pinout-reference-gpios/ https://github.com/espressif/arduino-esp32/blob/master/variants/esp32/pins_arduino.h

[2020-01-27 10:00] vivian-ng commented on #9
@luc-github The file with problem is U8glib.h.

I will give it a try when I can, but I don't expect any problems since I basically did the same thing.

[2020-01-27 10:04] vivian-ng commented on #8
@luc-github I understand the issue with software serial, which is why my question was about hardware serial and how to define the pins for it.

As for GPIO number, that was just an example. I just gave two numbers that came into mind, but if we manage to find a way to define hardware serial pins, I will likely use pins 21 and 22 since those are the two pins that I have unused.

If anyone has any s

[2020-01-27 10:07] luc-github commented on #8
ho ok, FYI I do this in ESP3D already : https://github.com/luc-github/ESP3D/blob/3.0/esp3d/src/modules/serial/serial_service.cpp#L79

[2020-01-27 10:13] luc-github commented on #9
ho because I understood reading you that `#include <U8glib.h>` solve issue and after  `#include <filename>` and so `#include <U8glib>` causing issue
 so I was confusing as it works on my side so I guessed it was another file

Ok so I can push this to devt branch then

[2020-01-27 10:22] luc-github commented on #8
@vivian-ng

here sample code you can try (1) is hardware serial1 :
[code]
or keeping same name to avoid to create another instance

[code]

[2020-01-27 10:54] felixstorm commented on #7
@luc-github No real need to worry about this one anymore, I did some more debugging and filed a PR to properly fix it inside Marlin: https://github.com/MarlinFirmware/Marlin/pull/16690
My guess is that it largely depends on cluster size (the smaller the cluster size, the more FAT sectors/entries need to be read to calculate free cluster count) and on the speed of the SD card used. If the formatter

[2020-01-27 11:02] felixstorm commented on #9
Had the same issue - apparently PlatformIO does not detect that ESP3DLib needs U8glib. If we add `#include <U8glib.h>` somewhere, PlatformIO will add this lib's path also to the include path for ESP3DLib and then the includes further down will work ok.

[2020-01-27 11:05] luc-github commented on #9
fix pushed to devt https://github.com/luc-github/ESP3DLib/tree/devt

[2020-01-27 11:44] luc-github commented on #7
thank you - I like such kind of issue ^_^

[2020-01-28 00:38] vivian-ng commented on #8
@luc-github Any suggestion on where this sample code should go?
I tried putting it in HAL.cpp, under HAL_init(), but it doesn't seem to work. I can compile, but I am not able to communicate with the TMC2209.

[code]

In Configuration_adv.h, I have
[code]
(MS1 and MS2 for X and Y axes have been set to reflect the slave address for each)

[2020-01-28 03:20] luc-github commented on #8
wrong close - I may be a config issue and init order if dual begin I see in code
in tmc_serial_begin()
[code]
so should be Serial1.begin(TMC_BAUD_RATE, SERIAL_8N1, HARDWARE_SERIAL1_RX , HARDWARE_SERIAL1_TX );
[code]
#define  X_SLAVE_ADDRESS 0
#define  Y_SLAVE_ADDRESS 1

#define X_HARDWARE_SERIAL Serial1
#define Y_HARDWARE_SERIAL Serial1
[code]

[2020-01-28 10:43] vivian-ng commented on #8
@luc-github You are a genius! This single line
[code]
allowed me to set up hardware serial on pins 21 (SDA) and 22 (SCL) as RX and TX.

And I found out what went wrong. Starting up hardware serial in `HAL_init()` probably works, but my biggest mistake was not reading the [manual](https://github.com/bigtreetech/BIGTREETECH-TMC2209-V1.2/tree/master/manual) of the TMC2209 stepper driver board that I

[2020-01-28 10:43] #8 closed

[2020-01-28 10:47] luc-github commented on #8
excellent, happy you succeed, 😁

[2020-02-14 07:33] vivian-ng opened #10 "[BUG]WifiTask running on core 0 may result in halts during prints"
This was an issue raised when this was part of a custom Marlin fork.

The wifi task running on the same core as the rest of Marlin may cause random halts during prints when wifi connection is poor. The solution back then was to run wifi task on another core.

I believe `esp3dlib.cpp` can be amended to run wifi task on core 1 instead of 0.
[code]

[2020-02-14 08:32] luc-github commented on #10
Marlin run on Core 1 like all arduino
Wifi run on on core 0 that is why ESP3DLib run on core 0 to not bother with Marlin

[2020-02-14 08:39] vivian-ng commented on #10
@luc-github Thanks for clarifying. I guess the random halts are caused by something else then. Will close this.

[2020-02-14 08:39] #10 closed

[2020-02-14 08:42] luc-github commented on #10
To clarify:
https://github.com/espressif/arduino-esp32/blob/c2b3f2d6afc1911db1974a324782730dd642d524/cores/esp32/main.cpp#L28
and
https://github.com/espressif/arduino-esp32/blob/1977370e6fc069e93ffd8818798fbfda27ae7d99/tools/sdk/include/config/sdkconfig.h#L124
`#define CONFIG_ARDUINO_RUNNING_CORE 1`

[2020-02-14 08:44] luc-github commented on #10
@vivian-ng they are not same random pause that @felixstorm fixed ? they happened wifi off

these one happen only when wifi on ?

[2020-02-14 08:50] vivian-ng commented on #10
@luc-github Could this be the problem?
[code]
in `i2s_init()` of `i2s.cpp`.

Since the I2S stepper task is not pinned to any core, will it end up running on core 0 and become interfered by wifi?

[2020-02-14 09:07] luc-github commented on #10
you may add `xPortGetCoreID();` to know the core used by _https://github.com/MarlinFirmware/Marlin/blob/bugfix-2.0.x/Marlin/src/HAL/HAL_ESP32/i2s.cpp#L142_
so you can see  when you have random pause which core is used

[2020-02-14 14:26] felixstorm commented on #10
Generally I would also run all non-Marlin tasks on core 0 (WiFi, ESP3DLib etc.) and run everything Marlin undisturbed on core 1, so also pinning the stepper task to `CONFIG_ARDUINO_RUNNING_CORE` sounds like a good idea.

@vivian-ng Do you still have any random pauses now with the latest Marlin versions?

[2020-02-14 15:30] vivian-ng commented on #10
@felixstorm I am using quite a new version of Marlin bugfix-2.0.x (fetched about two days back). Usually, no issues with printing, but yesterday, I was having a lot of connections problems on 2.4G wifi (either my router is giving me problems on 2.4G, or my area has a lot of 2.4G interference) and my ESP32 devices (printer and even ESP32-CAMs). I finally managed to get a connection on my Ender-3 ru

[2020-02-16 12:38] vivian-ng commented on #10
@luc-github Should `init()` be amended to purposely run `WiFiTaskfn` on the non-Marlin core?

Something like:
[code]
which will run on core 0 if `CONFIG_ARDUINO_RUNNING_CORE` is `1` and core 1 if `CONFIG_ARDUINO_RUNNING_CORE` is `0`.

Anyway, I have submitted [PR#16874](https://github.com/MarlinFirmware/Marlin/pull/16874) to Marlin to explicitly run I2S stepper task on `CONFIG_ARDUINO_RUNNING_CORE

[2020-02-16 13:50] luc-github commented on #10
arduino core is build like this, changing core in sdkconfig means new arduino core and this may break backward compatibility so I really doubt it will happen ever on arduino core, it only may be done using IDF and arduino as component, core for ESP3DLib could be an overidable define yes, but I really doubt of need, anyway it is just 3 lines of code

[2020-02-17 06:09] luc-github commented on #10
@vivian-ng  I have added the defines for ESP3DLIb task priority and targeted core
https://github.com/luc-github/ESP3DLib/commit/80609a74e901c2e21d10f4ab0b7ce9bad1e17f36

[2020-02-17 11:26] felixstorm commented on #10
@luc-github I have compiled the latest version with your PR already included against a slightly modified version of the Arduino-ESP32 libraries that lets me dump FreeRTOS task statistics.
This is the result after some idle time:
[code]
To me, this looks ok now. `ipc1` and `IDLE1` should be fine on core 1, then there's `loopTask` and `StepperTask` which are both Marlin and then `network_event` is a

[2020-02-17 12:06] vivian-ng commented on #10
Thank you! It was just a suggestion because I am not a fan of magic numbers in code.

As for `network_event`, it seems to be very low load now, and I think it is really only called when something happens (like wifi connection is dropped, etc.). Anyway, I will wait and see if I get random pauses again (need to wait for a bad wifi day).

[2020-02-17 12:24] luc-github commented on #10
the event task will call this function when even is catched : https://github.com/luc-github/ESP3DLib/blob/3cf617bc7c7fa950dcf23195857d4f84bcc0257f/src/wificonfig.cpp#L178-L191

So probability it generate pause is very very low I think

[2020-02-20 13:26] #7 closed

[2020-02-20 15:26] #9 closed

[2020-02-21 10:19] luc-github commented on #1
In coming month I will focus on ESP3D-WEB UI for version 3.0 as it is waiting for 1 year already

so import of ESP3D v2.1 features may be dropped unless there are urgent features that could be easily imported, TBD

Feel free to list here the priority needs/expectations ^_^

[2020-03-20 15:22] luc-github commented on #4
@WadeRobot fixed - thank you - seems I missed the monthly scheduled travis auto build report

[2020-03-28 12:57] vivian-ng commented on #9
@luc-github The fix [here](https://github.com/luc-github/ESP3DLib/issues/9#issuecomment-578652578) is in the `devt` branch, but not in the `master` branch. Will you be pushing it to the `master` branch soon? Otherwise, we may need to update the Marlin `platformio.ini` to use the `devt` branch by default, because I keep getting include failures as VSCode cannot find the required files.

[2020-03-28 15:54] luc-github commented on #9
Done - sorry for the delay - I was busy with other projects and forget to push it when I fixed the Marlin 2.0.5 compilation issue

[2020-04-18 01:39] jimhiggs commented on #4
Is this lib and the New Marlin ESP3D_WIFISUPPORT for ESP32 only?
I have an ESP01S (ESP8266) that was connected to my BIQU 3.5TFT display board and it works ok, but I wanted to put it on the main board a SKR Pro v1.1, mainly so i can upload files to the onboard sd by wifi. Both the SKR Pro and the TFT3.5 have sockets for an Esp01 but I don't know if something similar in pinout exists for ESP32

[2020-04-18 01:44] vivian-ng commented on #4
@jimhiggs

Yes, only if you are using ESP32 as the microcontroller for Marlin.

If you are using a WiFi module as a daughterboard, like the ESP01 that goes into a socket on your main board, please use [ESP3D](https://github.com/luc-github/ESP3D). The only thing in Marlin that needs to be changed in `Configuration.h` is to make sure
[code]
that you have this set up properly for whatever main board

[2020-04-18 02:19] jimhiggs commented on #4
Oh I see, thanks for the explanation. I wrongly assumed it meant an esp wifi add on. I did as you suggested and now have the esp3d working from the main board. Still doesn't help me as I still cant see the files on the SD. The pro has an onboard sd slot and an sd slot in the TFT and I was hoping ESP01 would at least be able to see one or other SD card, but nothing marlin crashed when I tried to up

[2020-04-18 03:08] luc-github commented on #4
rename your file and it will work

[2020-04-18 03:25] jimhiggs commented on #4
If you mean make the filename 8.3 I did try renaming to copy.gco and using EPS3D to upload and it still failed. ESP3D reported lost connection and on the TFT it reported Upload failed.

[2020-04-18 03:27] jimhiggs commented on #4
I think there are other SKR Pro issues here I have to sort out first. Thanks for quick response.

[2020-04-18 04:03] luc-github commented on #4
pls feel free to open issue in esp3d repository if you have issue, I got for several pb with btt products and working on it but usually reset board during upload is a power supply stability issue, esp8266 is very sensitive

[2020-04-29 23:05] wildwing1970 opened #13 "Enabling WIFI_CUSTOM_COMMANDS failes to compile"
Hi there,

i have a WEMOS Mega, which has an ESP8266 on Board! I installed Marlin 2.0.5.3 on the Arduino and ESP3D on the ESP!

If i enable WIFI_CUSTOM_COMMANDS in the Config and try to compile i get the following error

/tmp/ccaFAvkG.ltrans0.ltrans.o: In function `GcodeSuite::process_parsed_command(bool)':
<artificial>:(.text+0xb13e): undefined reference to `wifi_custom_command(char*)'
collect2:

[2020-04-29 23:27] vivian-ng commented on #13
@wildwing1970 The ESP3DLib is for ESP32, not ESP8266. You will need a 3D printer control board based on the ESP32 microcontroller.

If you are using a 3D printer control board using other microcontrollers, and want to add WiFi connectivity with a daughterboard (either ESP32 or ESP8266), you can use the ESP3D firmware.

[2020-04-30 09:44] wildwing1970 commented on #13
Ok Thank you so far! Well i flashed ESP3D Firmware to the ES8266 Part of the WEMOS Mega! How do i enable ESP3D Support in Marling Firmware? Since the Mega has 3 Serial ports, to which Port do i have to connect the ESP8266 to communicate with the Marlin FW?

[2020-04-30 10:06] vivian-ng commented on #13
@wildwing1970 Please see the [wiki of ESP3D](https://github.com/luc-github/ESP3D/wiki) for information on how to use ESP3D. This repository is for the ESP3DLib which is the integration of ESP3D into Marlin for ESP32 microcontrollers.

Also, before proceeding further, you may want to make sure you are able to use your board to actually control a 3D printer. ESP3D only adds a web UI to allow communi

[2020-05-01 07:29] luc-github commented on #13
I have updated the readme to clarify the usage of esp3dlib and target

I think issue can be closed now

[2020-05-01 07:29] #13 closed

[2020-05-05 14:32] vivian-ng commented on #4
`espcom.cpp` will result in error if compiling without a LCD controller.

[code]

The call to `ui.set_status(data)` will give error as there is no ui. Recommend to add a `#ifdef` statement to check if LCD is being used before calling `ui` related methods.

[2020-05-05 14:38] luc-github commented on #4
that is weird I have checked this in the past - I will have a look

[2020-05-05 14:56] luc-github commented on #4
@vivian-ng can you tell me how do you reproduce issue ?
I have tested on my current ESPA and I do not have error and I do not have display set neither

I will check with latest Marlin as there may be some changes

[2020-05-05 15:06] vivian-ng commented on #4
@luc-github Sorry, please ignore. Somehow, I cannot reproduce the error anymore. Probably some glitch somewhere on my system.

[2020-05-05 15:17] luc-github commented on #4
@vivian-ng to be honest I have tested this before and was surprised it did not need a #define, I was also expecting I would need a check - but because it was ok I did not investigated -
`Do not fix what is not broken`
But Murphy law is always happy to popup...

Note ; I have updated to latest Marlin and still no issue, if you can reproduce let me know

[2020-12-11 09:42] #1 closed

[2020-12-11 09:42] #4 closed

[2020-12-11 10:44] luc-github opened #20 "[Question]<Enter comprehensive title>"
What is your question ?
If it is a problem you meet, please fill bug instead, as informations are key to answer

[2021-01-21 00:28] Surrizu opened #24 "Compile failed when enable ESP3D_WIFISUPPORT under PlatformIO"
Hello.

I´m able to compile any Marlin 2.0.x under PlatformIO but when I uncomment  #define ESP3D_WIFISUPPORT, the compile fails.

I just would like the ESPboard to work with my 3D printer (Arduino 2560 + RAMPS1.4).

Please, I have no idea whats going wrong.

HERE THE TERMINAL CODE DURING "Almost" COMPILATION:

Microsoft Windows [versão 6.1.7601]
Copyright (c) 2009 Microsoft Corporation. Todos os

[2021-01-21 00:32] vivian-ng commented on #24
@Surrizu ESP3DLib is for use with ESP32-based 3D printer boards. If you are using RAMPS, you just need [ESP3D](https://github.com/luc-github/ESP3D).

Leave
[code]
commented out because this is for ESP32-based 3D printer boards like [MRR ESPA](https://github.com/maplerainresearch/MRR_ESPA/) and [MRR ESPE](https://github.com/maplerainresearch/MRR_ESPE/). If you are not using such boards, follow inst

[2021-01-21 07:59] luc-github commented on #24
yes as mentioned in readme
![image](https://user-images.githubusercontent.com/8822552/105320734-cfa0b480-5bc6-11eb-8fc0-049c4a705253.png)

Your board is not an ESP92 board it is a Mega/Ramps so not the right target

[2021-01-21 07:59] #24 closed

[2021-01-21 09:58] Surrizu commented on #24
Aha! So I think that's solved. I will compile the code with commented "//#define ESP3D_WIFISUPPORT" to test the communication.

[2021-01-21 10:04] luc-github commented on #24
have fun 😸

[2021-03-21 07:35] agoy507 opened #27 "[BUG]<Compile failed using platform IO>"
**Describe the bug**

Compile failed using platform IO with framework-arduinoespressif32 3.10005.210308 (1.0.5)

**Screenshots**
![image](https://user-images.githubusercontent.com/77733757/111897377-3705a400-8a52-11eb-8ebd-35e682ba47be.png)

**Marlin Firmware:**
- Marlin Branch/Version:[e.g bugfix-2.0.x]
- Any change done in Marlin code/configuration

**ESP3DLib :**
- ESP3DLib Branch/Version:[e.g

[2021-03-21 07:42] luc-github commented on #27
you must not change the platformio.ini currently for esp32 core - I guess you did it for : https://github.com/luc-github/ESP3DLib/discussions/26
but it introduce another issue that is fixed in esp32 core git already

I wait for the fix to be implemented to see if I still need to change in ESP3Dlib

[2021-03-21 07:57] agoy507 commented on #27
ok. thanks for advice.
but i have advice, if printing and wifi have connection in or out, happen skip on stepper motor.
and he said there is an update from espressif to dual core on the arduino framework to handle network on other core cpu.

[2021-03-21 08:01] luc-github commented on #27
as you see in issue fix is already in core : https://github.com/espressif/arduino-esp32/issues/4905
so soon you can use the latest esp32 core

[2021-03-21 08:18] #27 closed

[2021-04-14 11:16] agoy507 opened #29 "[INVALID]<Failed Compile using Platform IO> with BugFix"
**Describe the bug**
error compile.
Compiling .pio\build\esp32\lib3f5\ESP3DLib\web_server.cpp.o
.pio/libdeps/esp32/ESP3DLib/src/sd_ESP32.cpp: In member function 'bool ESP_SD::openDir(String)':
.pio/libdeps/esp32/ESP3DLib/src/sd_ESP32.cpp:324:32: error: 'class CardReader' has no member named 'getSd2Card'
     if (!sd_volume.init(&(card.getSd2Card()))) {
                                ^
Compiling .

[2021-04-14 11:21] luc-github commented on #29
did you tested with 2.7.2 as mentioned in readme ?

[2021-04-14 11:26] agoy507 commented on #29
yes. I Was enable this feature followed in readme. so i attach file configuration. please tested to, and CMIIW.

[2021-04-14 12:00] luc-github commented on #29
2.7.2 is ok
![image](https://user-images.githubusercontent.com/8822552/114706761-b15fd600-9d29-11eb-8dd8-c97b116405ae.png)

[2021-04-14 12:03] agoy507 commented on #29
Can you try test with marlin bugfix lastest version ?

[2021-04-14 12:09] luc-github commented on #29
Marlin always break everything - and do not care backward compatibility - I will work on next release only - I have no bandwidth to test every change in Marlin and try to fix something that may be broken few commits later
Sorry
You are free to see what is wrong and push PR but in that case it may not work with 2.7.2

[2021-04-14 12:15] agoy507 commented on #29
ok. i will wait next release with your lib compability. thanks for your contribute.

[2021-04-14 12:15] #29 closed

[2021-04-14 12:15] luc-github commented on #29
if homing in wrong direction it is just a Marlin setting - check the home direction setting

[2021-04-14 12:23] agoy507 commented on #29
OK. thanks for advice. i will check again marlin config.
i think on bugfix marlin was fix my problem. cause the day before yesterday i was report this issue.

[2021-04-14 14:31] luc-github commented on #29
@agoy507 motor direction and homing direction can be changed in Marlin FW that is for sure
if it is homing and moving which are up side down, it can also be changed also by just fliping the motor connector on board if it is possible but do it only when power off of you may damage driver

and for what it worst the change that generate your issue just happened few hours ago actually : https://github

[2021-06-21 03:36] sergerz opened #31 "There is no connection between the firmware and the WEB"
There is a board on ESP32. Compiled the firmware based on Marlin 2.0.9 and Esp3dlib. But there is no connection between the WEB interface and the firmware. A similar GR BL firmware works on this board. What should I do to link Marlin to the WEB? Compilation in PlatformIO successful ESP 32 4 Mb.

[2021-06-21 05:07] luc-github commented on #31
Did you do what read me explain ?

[2021-06-21 06:32] sergerz commented on #31
No connection between WEB and Marlin.
When controlling the printer from the WEB, the motors do not turn, it does not react to limits, and it does not read the SD card.
Compilation in PlatformIO is successful. There are no errors.
Marlin Firmware 2.0.9
ESP3DLib V1.0.1 No changes were made.
WEB UI Version: 2.1B70
Wifi mode: AP

Board ESP32Dev
Flash size: 4Mb
partitions: default

Motor control via I2

[2021-06-21 06:34] luc-github commented on #31
Did you do what read me explain : how to configure Marlin?

[2021-06-21 06:41] sergerz commented on #31
Changes have been made to the configuration files

[2021-06-21 06:42] luc-github commented on #31
can you share your changes ?

[2021-06-21 06:55] sergerz commented on #31
**Configuration.h:**

#define SERIAL_PORT 0
#define BAUDRATE 250000
//#define SERIAL_PORT_2 -1
//#define BAUDRATE_2 250000   // Enable to override BAUDRATE
#ifndef MOTHERBOARD
  #define MOTHERBOARD BOARD_MRR_ESPE
#endif

**Configuration_adv.h:**
/**
 * WiFi Support (Espressif ESP32 WiFi)
 */
//#define WIFISUPPORT         // Marlin embedded WiFi managenent
#define ESP3D_WIFISUPPORT   // ESP3D Libra

[2021-06-21 07:03] luc-github commented on #31
obviously you did not do the change explained in readme https://github.com/luc-github/ESP3DLib#how-to-enable-
so of course it cannot communicate

[2021-06-23 10:11] lols commented on #31
I also have a esp and in short you need to
-Enable serial port 2
-Enable webui
-Connect to the wifi ssid
-upload the index.html file
-set to client station connect to your router ssid
-set a static ip and now can access it everytime

Since you can already access the website
What you did not do is you have serial port 2 disabled
Enable by removing //
#define SERIAL_PORT_2 -1

[2021-06-24 03:32] sergerz commented on #31
I did everything described, but there was no connection between Marlin and the WEB UI. The WEB UI interface itself opens, Marlin does not work at the same time. There is no reaction of the actuators to actions with the interface.

[2021-06-24 03:34] sergerz commented on #31
The similar GRBL software on this board works well.

[2021-06-24 03:37] sergerz commented on #31
The device is a slightly modified https://github.com/bdring/Grbl_Esp32

[2021-06-24 06:00] luc-github commented on #31
hardware is not limitation - esp3dlib work even on single esp32 board
it is a pure Marlin configuration issue
can you share :
1 - output of M115 from webUI, a screen shot would be great
2 - your configuration.h and your configuration_adv.h

[2021-06-24 09:03] sergerz commented on #31
Configuration.h
/**
 * Marlin 3D Printer Firmware
 * Copyright (c) 2020 MarlinFirmware [https://github.com/MarlinFirmware/Marlin]
 *
 * Based on Sprinter and grbl.
 * Copyright (c) 2011 Camiel Gubbels / Erik van der Zalm
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation,

[2021-06-24 09:04] sergerz commented on #31
Configurations_adv.h
/**
 * Marlin 3D Printer Firmware
 * Copyright (c) 2020 MarlinFirmware [https://github.com/MarlinFirmware/Marlin]
 *
 * Based on Sprinter and grbl.
 * Copyright (c) 2011 Camiel Gubbels / Erik van der Zalm
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Founda

[2021-06-24 09:05] sergerz commented on #31
I'm sorry that I'm not very skilled.

[2021-06-24 09:13] luc-github commented on #31
Ok reading now - next time please drop a zip file it is easier to get

[2021-06-24 09:18] luc-github commented on #31
Are you using MRR_ESPE ? you mentionned before you use Bart board or I misunderstood ?
can you share the boot serial output of Marlin, you just need to to select Monitor in VSCode
I am pretty sure you issue is : ` Error:Printer halted. kill() called!`

[2021-06-24 09:19] sergerz commented on #31
Ok

[2021-06-24 09:41] sergerz commented on #31
As a template, I use the configuration of the MRR ESPE board. This board is most suitable for the electrical circuit. Stepper motor drivers are connected to registers that allocate the I2S sequence. The board is made on the basis of the Bart board. If the printer is stopped, how can I start it? What should I do with the VSCode serial monitor

[2021-06-24 09:44] sergerz commented on #31
The card is not currently connected to the printer. There are 4 stepper motors connected to it, power supply.

[2021-06-24 09:47] luc-github commented on #31
As I mentioned before your issue is Marlin configuration, I do not know what you use but my guess the board definition you are using do not match your board, so thermistor is not detected and Marlin go to error because it cannot detect the temperature - I suggest you to configure first properly Marlin for your board  first, Marlin will stop everything if any error is detected

[2021-06-24 09:54] sergerz commented on #31
Thanks. I understood. I have a printer, I will connect it and then I will write about the results. But it will be in a couple of days.

[2021-07-03 18:21] agoy507 opened #32 "[FEATURE REQUEST]Add Webdav"
Please add webdav feature. that feature will be very useful to save Gcode direct to sdcard.

[2021-07-03 18:26] luc-github commented on #32
it is already done in ESP3D and in roadmap for ESP3DLib https://github.com/luc-github/ESP3D/blob/3.0/ESP3D-features.xls

[2021-07-04 09:45] luc-github commented on #31
@sergerz  any update ?

[2021-07-06 23:48] sergerz commented on #31
My existing board cannot fully work with a 3d printer due to the lack of a set of input and output modules. Now I'm preparing them for the order. Therefore, the testing is delayed.

[2021-07-07 01:43] agoy507 commented on #32
Hei luc.
I try to added webdav feature used your webdav library. file on LITTLEFS can showing on window explorer.
I tried to change LITTLEFS to SD_MMC like https://github.com/luc-github/ESP3D/issues/491#issuecomment-766157740 but it can't work. what's missing ?? can you explain ?

[2021-07-07 03:08] luc-github commented on #32
in esp3dlib I use Marlin sd lib not esp32 core sd lib

[2021-07-07 04:22] agoy507 commented on #32
you mean Marlin sd lib is https://github.com/luc-github/ESP3DLib/blob/49eb92ba4fca575591e2042b2b25944d5770291b/src/sd_ESP32.h ?

[2021-07-07 05:50] luc-github commented on #32
yes, check the cpp file, it is  just  a wrapper

[2021-08-03 02:16] #31 closed

[2021-08-03 02:16] #32 closed

[2022-01-24 05:05] luc-github opened #38 "[FEATURE REQUEST]ESP3DLib 2.0"
Port ESP3DLib to latest ESP3D 3.0 features

[2022-02-01 07:02] luc-github opened #39 "[FEATURE REQUEST]ESP3DLib 2.0"
Here features that will be covered by ESP3DLib 2.0 :
- Webui 2.1 support (not 3.0 as not yet ready)
- Move to SSDP asyncudp library
- Move ESP32 core to 2.0.2 / 2.0.3
- Move from SPIFFS to LittleFS
- AP mode setup reviewed
- Add Telnet server support
- Add MKS Cura pluggin support for file upload
- Move SD support from Marlin SD Lib to SDFat 2.0 for better performance (TBC)

Testing boards:
1 - MR

[2022-02-15 07:42] luc-github commented on #39
Some update:
1 - Use ESP3D 3.0 as code base is almost done - what is not yet implemented is the SD upload
2 -  Use of  SSDP asyncudp library is implemented but I got some random (refering to esp_timer) crash and also some Watchdog reset on ESP3DLib task , even without the SSDP library so I need to dig in
using `disableCore0WDT();` in Esp3DLib seems mitigating the issue for the moment but need to n

[2022-02-15 07:52] luc-github commented on #39
Here the base for the display message output
![outputESP3DLIB](https://user-images.githubusercontent.com/8822552/154016277-fe2612d2-e3b7-41b7-a6f3-59df850bcb10.jpeg)

Some screenshots

![image](https://user-images.githubusercontent.com/8822552/154016376-c3135647-8992-404b-a543-c84701fd0de5.png)

![image](https://user-images.githubusercontent.com/8822552/154016504-6f88c74f-c79c-4d21-bac7-9b5e60eea0

[2022-03-02 00:32] luc-github commented on #39
Ok final workaround is now validated instead of using task wdt feeder I use global wdt feeder and it seems ok after one week of long run test
Display output is now properly managed
Now working on SD Support - I wish I can use the SDFat instead of Marlin SDLib which is very slow for upload - it seems Marlin support now long name in command but no more subdirectory files for print command: https://g

[2022-03-02 02:23] luc-github commented on #39
Seems use current ESP3D V3 code using SDFat V2 fit with existing Marlin SDLib
[code]

So now need to see how to avoid conflict in usage and allow only to access SD at once - but so far so good

[2022-03-03 09:09] luc-github commented on #39
Upgrade to SDFat 2.1.2 is now done and tested UTF file name also:
when it is good in ESP3DLib - even with latest bugfix and enabling
[code]
the output seems incorrect

[code]
still need to test print command but seems not able to print sub folder file... TBC

WebUI is working as expected :
![image](https://user-images.githubusercontent.com/8822552/156532279-827f61f6-5cc6-4f6d-b8b0-8f5fec72b52b.png

[2022-03-20 01:33] luc-github commented on #39
The sharing SD code have been updated as well as the new format of ESPXXX output as explained here : https://github.com/luc-github/ESP3D-WEBUI/issues/157#issuecomment-1073143762
Still have FTP/WebDav SD access is not updated - I want to do the webui update first with updated output support and see how to handle the UTF / long name support in webUI as it seems it is still incomplete in Marlin : htt

[2022-04-17 12:13] luc-github commented on #39
Ok here we are - Webui V3 is now usable for Marlin-embedded but will still be updated : https://github.com/luc-github/ESP3D-WEBUI/blob/3.0-rewrite/dist/Printer3D/Marlin-embedded/index.html.gz?raw=true

to use ESP3DLib V2 with latest Marlin bug-fix and latest ESP32 core   you need currently to use this fork / branch : https://github.com/luc-github/Marlin/tree/ESP3DLibV2

here the board and status t

[2022-05-04 03:50] luc-github commented on #39
Issue with TinyBee MKS screen is now solved - issue was related to ESP3DLib code - so far so good
the webUI is also under test with ESP3D V3 https://github.com/luc-github/ESP3D/issues/741
So I prefer to continue tests as ESP3DLib V2 and ESP3D V3 share same code

[2022-05-05 18:39] ul42 opened #43 "Marlin 2.0.9.3 - No media error"
Bonjour à vous (désolé, je suis un peu fatigué ;) )

**Describe the bug**
Mon "plutôt handicapant" problème est que la carte Sd n'est absolument pas detectée.
Ni par Marlin, ni par ESP3D.

**To Reproduce**
Steps to reproduce the behavior:
Quand je clic sur "rafraichir", l'interface "SD" m'affiche un fichier nommé "OK" et qui ne sert apparament absolument a rien, et l'invite de commande me marque :

[2022-05-06 08:46] ul42 commented on #43
Ok je note ça, se sera utile.

Voici ce que me renvois Pronterface :
Connecting...
Printer is now online.
echo:busy: processing
echo:busy: processing
echo:busy: processing

SENDING:M20
echo:No media

SENDING:M21
echo:No SD card

SENDING:M20
echo:No media

Je vais changer quelques paramètres et je vous recontacte.

[2022-05-06 09:03] luc-github commented on #43
Ben deja :
`echo:busy: processing`
si aucune commande n'est envoye ce n'est pas normal je pense

le No media  / No SD Card montre bien que Marlin ne voit pas la carte SD
Quel est le pinout utilise pour la carte SD ?

[2022-05-06 09:21] ul42 commented on #43
J'ai activé le paramètre :
#define SD_SPI_SPEED SPI_EIGHTH_SPEED

Et ça me donne ça :
![ESP3d Problem 2](https://user-images.githubusercontent.com/85800590/167103317-ab6d5cf0-159c-4543-9adc-cc97d83f97b1.PNG)

J'ai également vérifié les brochages physique (ou cas ou) et tout est correctement relié a l'ESP32S.
Voici les brochages logiciels et un peu de doc en plus :
#define SD_MOSI_PIN

[2022-05-06 09:29] luc-github commented on #43
Je vous conseille de tester
1 - https://github.com/espressif/arduino-esp32/tree/master/libraries/SD
2 - de voir si ce reader qui me semble utiliser le pinout MMC est vraiment compatible SPI, et de tester avec un autre reader

[2022-05-06 09:39] ul42 commented on #43
Je vais essayer la librairie que vous me conseiller ;)
Par contre pour ce qui est du pinout MMC, c'est bien le SPI que j'utilise. C'est le même que celui de la Fysetc E4 qui est aussi en SPI et sinon il y aurait usage des broches data dans un ordre de priorité précis me semble t'il. Corriger moi si je raconte une bêtise.

[2022-05-06 13:56] luc-github commented on #43
ce qu'il faut utiliser c'est https://github.com/espressif/arduino-esp32/blob/master/libraries/SD/examples/SD_Test/SD_Test.ino
il n'y a rien a modifier il fonctionne avec le  pinout sd par default

[2022-05-06 14:06] ul42 commented on #43
Comment dois-je faire pour l'utilliser ?

[2022-05-08 09:42] ul42 commented on #43
Bonjour à vous,
J'ai changé de carte SD, et tout est en fonction.
Je pense que ça doit être le formatage, que je pensais avoir réglé.

Le problème vient de moi.
Je vous remercie malgré tout pour l'aide.
Cordialement.

[2022-05-08 10:03] luc-github commented on #43
Pour les cartes SD toujours utiliser des 4GB   et les formater avec https://www.sdcard.org/downloads/formatter/

[2022-05-08 10:03] luc-github commented on #43
Bon devt de carte

[2022-05-08 10:03] #43 closed

[2022-05-09 06:32] luc-github commented on #39
Finally WebDav is working as expected ^_^
![webdav](https://user-images.githubusercontent.com/8822552/167352749-21d575ef-a834-43ed-ba50-d7366f1a04be.gif)

I still have to review FTP server code in same way and should be ok

[2022-05-10 04:41] luc-github commented on #39
FTP server code is now updated - the number of connections must be limited to 1 as it does not support multiple request
![ftp](https://user-images.githubusercontent.com/8822552/167543802-93527a26-6b4a-4ae2-b888-afd260a4fec1.gif)

[2022-05-24 10:08] luc-github opened #44 "[BUG]With ESP3DLib V1.0, after few minutes webserver do not respond anymore[SOLVED]"
After a short time the webserver is not responding to any query but using serial commands ESP3DLib still respond
It is a compatibility version issue
 in Marlin `feature.ini`
replace
`luc-github/ESP32SSDP@^1.1.1`
by
 `ESP32SSDP=luc-github/ESP32SSDP@1.1.1`
be sure the `^` is removed, because if not, it will actually download ESP32SSDP version 1.2.0, which is not properly supported by current version

[2022-08-10 02:44] luc-github commented on #38
There will not have any V2 - for consistency and readability the V2 is dropped and V3 is not the latest

[2022-08-10 02:44] #38 closed

[2022-08-10 02:47] luc-github opened #45 "[FEATURE REQUEST]Add GitHub-ci for auto test"
Travis.org is down since a while already and need to implement github-ci to handle auto tests when merging PR and push commits, like done in ESP3D

[2022-08-12 21:46] nikybiasion opened #46 "[BUG]failed compilation on ESP401.cpp"
**Describe the bug**
Compilation fail with error:
.pio/libdeps/mks_tinybee/ESP3DLib/src/core/espcmd/ESP401.cpp: In member function 'bool Commands::ESP401(const char*, level_authenticate_type, ESP3DOutput*)':
.pio/libdeps/mks_tinybee/ESP3DLib/src/core/espcmd/ESP401.cpp:89:34: error: ambiguous overload for 'operator=' (operand types are 'String' and 'bool')
                         response = false;

[2022-08-12 23:32] luc-github commented on #46
Are you sure you are using latest version ? - you may need to do a clear all in platformio/vscode to update latest ESP3DLib code
This issue has been fixed 3months ago :
![image](https://user-images.githubusercontent.com/8822552/184456184-4aa563f2-9c81-4c1c-a6d9-54cb0cbb3484.png)

And I have just tested compilation pass with AUTHENTICATION_FEATURE
![image](https://user-images.githubusercontent.com/

[2022-08-12 23:34] #44 closed

[2022-08-14 01:13] luc-github commented on #46
@nikybiasion let me know if a clear all - fix your issue , so this ticket can be closed

[2022-08-14 09:22] nikybiasion commented on #46
ok, i've tried to build mks original firmware with esp3dlib3.0, but it fail. With your Marlin branch everything works fine

[2022-08-14 09:23] luc-github commented on #46
yes Marlin need several changes, not yet implemented

[2022-08-15 12:42] luc-github commented on #46
I close issue then

[2022-08-15 12:42] #46 closed

[2022-11-03 14:31] agoy507 commented on #39
Hi Luc. I have tried ESP3dLib v3.0 on my custom Board. But file gcode and the folder in which there is a gcode file not showing.
and controller fan for cooling main board  when stepper or heater on can't function.
when i used esp3dlib v1 with marlin 2.0.9 not happen problem.

![1](https://user-images.githubusercontent.com/77733757/199747636-a704044f-4702-4379-814d-bc0e70650c1a.png)
![2](https://us

[2022-11-04 00:22] luc-github opened #48 "Hi Luc. I have tried ESP3dLib v3.0 on my custom Board. But file gcode and the folder in which there is a gcode file not showing but if I check directly on the printer. gcode files and folders containing gcode files exist."
Hi Luc. I have tried ESP3dLib v3.0 on my custom Board. But file gcode and the folder in which there is a gcode file not showing but if I check directly on the printer. gcode files and folders containing gcode files exist.

and controller fan for cooling main board  when stepper or heater on can't function.
when i used esp3dlib v1 with marlin 2.0.9 not happen problem.

![1](https://user-images.gith

[2022-11-04 00:23] luc-github commented on #39
@agoy507 please this is status thread, not issue ticket do not hijack it, I have moved it to another thicket

[2022-11-04 00:31] luc-github commented on #48
I do not know your board specs but ESP3DLib does not do anything  with these things check with latest Marlin to see if it is working - may be some configuration /code change - my fork is base on Marlin 2.1

I see it can list some of content of SD card but not all ? is that correct ?
if Yes what is your SD card capacity ? did you try with another one ? is that formated with  https://www.sdcard.org/

[2022-11-04 01:30] agoy507 commented on #39
I'm sorry luc. I don't know. But i'm newbie on github

[2022-11-04 01:31] luc-github commented on #48
@agoy507 please continue here

[2022-11-04 16:31] agoy507 commented on #48
Thanks Luc
I finally got it working!!!!
I follow your advise for formated SDcard with https://www.sdcard.org/downloads/formatter/ ?

[2022-11-04 23:48] luc-github commented on #48
what do you mean ?

[2022-11-05 01:36] agoy507 commented on #48
I have tried to send notification via telegram, but the message failed to send.  what's wrong?  if via LINE there is no problem.

[2022-11-05 01:38] luc-github commented on #48
it may be config - did you followed the wiki ?

[2022-11-05 01:48] agoy507 commented on #48
Yes, i follow instruction the wiki.  I filled T1 with telegram token, T2 with channel name, I also tried to fill T2 with botname like  https://github.com/luc-github/ESP3D/issues/578 but still can't work. Any suggestion ?

[2022-11-05 02:05] luc-github commented on #48
test your settings using your browser
`https://api.telegram.org/bot<your bot token>/sendMessage?chat_id=@<your configured chat room>&text=Hi`

[2022-11-10 21:58] luc-github commented on #48
@agoy507 did you solved your Issue?

[2022-11-12 14:11] agoy507 commented on #48
hi luc. I'm sorry just update. yesterday i'm busy with my work.

yes i have solved the problem. i forgot to delete "<>" on bot token. thank you for sugestion.
your project very amazing.

now my problem just controller fan not function. now i still collect reference.

[2022-11-12 14:33] luc-github commented on #48
Ok cool, I am closing issue then
Thank you for the kind words ^_^

[2022-11-12 14:33] #48 closed